{% extends "base_layout.html" %}

{% block content %}
<h1>All Applications</h1>
<a class="btn btn-primary" href="{% url 'applications:add_app' %}">Add Application</a>
<div class="container" style="margin-top: 15px">
    {% for app in apps %}
        <div class="col-md-3 app_card_wrapper">
            <div class="col-md-12 app_card">
                <p class="app_name"><a target="_blank" href="{% url 'applications:show_app' app.id %}">{{app.name}}</a></p>
                <p class="app_date">{{app.created_at}}</p>
                <p>
                    {% if app.website %}
                        <a href="{{app.website}}">Visit</a>
                    {% endif %}
                    | <a href="{% url 'applications:edit_app' app.id %}">Edit</a>
                    | <a onclick="promptDelete(event, this)" data-url="{% url 'applications:delete_app' app.id %}" href="">Delete</a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function promptDelete(e, aTag){
        e.preventDefault();
        if(confirm("Are you sure ?"))
            window.location = aTag.getAttribute("data-url");
        return false;
    }
</script>
{% endblock %}