.app_card_wrapper{
    margin-top: 15px;
}
.app_card{
    padding: 15px;
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    -webkit-box-shadow: -3px 2px 15px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: -3px 2px 15px -4px rgba(0,0,0,0.32);
    box-shadow: -3px 2px 15px -4px rgba(0,0,0,0.32);
}
.app_card:hover{
    -webkit-box-shadow: -3px 2px 15px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: -3px 2px 15px 0px rgba(0,0,0,0.32);
    box-shadow: -3px 2px 15px 0px rgba(0,0,0,0.32);
}
.app_name{
    font-size: 16px;
}
.app_date{
    color: gray;
}
